@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: auto;
  top: 0;
  position: relative;
  bottom: 0;
}

.info{
  width: 30px;
  filter: invert(100%) hue-rotate(180deg) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  margin-top: 30px ;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#glitch{
    animation: glitch 1s linear infinite;
    align-items:center ;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(3, 204, 80);
    font-size: 45px;
    font-family: 'Fira Mono', monospace;
    /* letter-spacing: -7px; */
    font-weight: bold;
    text-shadow: 1px 1px 3px #ff20b5, 1px 1px 5px #000000;
    margin-bottom: 5px;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  #glitch:before,
  #glitch:after{
    content: attr(title);
    position: absolute;
    align-items:center ;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(3, 204, 80);
    font-size: 45px;
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000, 1px 1px 5px #2949ff;
    /* letter-spacing: -7px; */
  }
  
  #glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  #glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */

.logo{
    display: block;
    margin: 3px auto;
    width: 140px;
    height: 120px;
    padding: 2px;
    z-index: 2;
    filter: drop-shadow(5px 5px 5px #d16500cb);
}



h1{
    margin-top: 5px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: 'Play', sans-serif;
    animation: fadeInAnimation ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    word-spacing: 5px;
    letter-spacing: 3px; 
}


.container::-webkit-scrollbar {
    display: none;
}

.background {
  position: relative;
  background: linear-gradient(132deg, #c63246, #441497, #161724);
  animation: Gradient 15s ease infinite;
  background-size: 400% 400%;
  position: fixed;
  height: auto;
  width: 100%;
  overflow:scroll;
  padding:0;
  margin:0;
}

#bck.black {
	position: relative;
	background: linear-gradient(132deg, #000000, #242424, #000000);
  animation: Gradient 15s ease infinite;
  background-size: 400% 400%;
  position: fixed;
  height: auto;
  width: 100%;
  overflow:scroll;
  padding:0;
  margin:0;
}

.dark{
  position: fixed;
	top: 0;
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation: nav-load var(--nav-load-time) ease-in;
	z-index: 2;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0) 90%);
	position: fixed;
}

.dark div{
  right: 50px;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

/* Dark mode toggle switch styling */

.label {
	margin-top: 50px;
	margin-right: 10px;
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e41e;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #ffffff17 ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

body{
    /* background: url('../images/bg.gif') no-repeat center center fixed;
    background-size: 1890px 900px; */
    height: auto;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 955px;
    /* background: rgb(0,16,93);
    background: linear-gradient(130deg, rgba(0,16,93,0.6362920168067228) 0%, rgba(121,9,98,0.6615021008403361) 51%, rgba(255,0,0,0.6699054621848739) 100%); */
    
    
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(123deg, rgba(17,163,0,0.41780462184873945) 0%, rgba(16,254,123,0.4430147058823529) 26%, rgba(254,195,16,0.4430147058823529) 57%, rgba(254,139,16,0.4598214285714286) 86%);
    background-size: 400% 400%;
    
    margin: auto;
    height: 53vh;
    border-radius: 20px;
    padding: 15px;
    overflow-y: auto;
    margin-bottom: 22px;
    margin-top: 20px;
    /* animation: fadeInAnimation ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}


#cont.black{
  max-width: 955px;
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(123deg, rgba(2, 16, 0, 0.418) 0%, rgba(0, 62, 28, 0.443) 26%, rgba(75, 56, 0, 0.443) 57%, rgba(73, 38, 0, 0.46) 86%);
  background-size: 400% 400%;
  margin: auto;
  height: 53vh;
  border-radius: 20px;
  padding: 15px;
  overflow-y: auto;
  margin-bottom: 22px;
  margin-top: 20px;
}

@keyframes rainbow {
  0% {
      background-position: 1% 80%
  }
  50% {
      background-position: 99% 20%
  }
  100% {
      background-position: 1% 80%
  }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.message{
    background-color: rgba(5, 114, 5, 0.788);
    width: auto;
    max-width: 60%;
    height:fit-content;
    word-wrap:break-word;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px 0;
    /* border: 2px solid black; */
    border-radius: 10px;
    font-family: 'Changa', sans-serif;
    font-size: 17px;
    color: rgb(100, 255, 139);
}

.left{
    float: left;
    clear: both;
    background: rgba(0, 17, 114, 0.61);
}

.right{
    float: right;
    clear: both;
}

.center{
    float:none;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    clear: both;
    font-weight: bold;
    width: auto;
    background: rgba(238, 255, 0, 0.541);
    color: rgb(0, 36, 102);
    text-align: center;
    font-size: 18px;
}

input{
    font-size: 20px;
}

input[type="text"] {
    padding-left: 15px;
}

#send-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width:987PX;
    width: 100%;
    outline: none;
    animation: fadeInAnimation ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#messageInp{
    width: 90%;
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 45px;
    background: rgba(0, 21, 143, 0.562);
    outline: none;
    border: none;
    color: rgb(255, 179, 179);
}

::placeholder{
    color: rgb(255, 125, 125);
    /* padding-left: 10px; */
    font-family: 'Changa', sans-serif;
}

.btn{
    cursor: pointer;
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 45px;
    margin: 5px;
    /* margin-top: 30px; */
    margin-right: 0;
    width: 75px;
    background: rgba(34, 145, 0, 0.767);
    outline: none;
    border: none;
    color: rgb(143, 31, 31);
    font-size: 40px;
    font-family: 'Changa', sans-serif;
    font-weight:1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.AIbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  transition: 100ms linear; 
}

.AIbutton a{
  text-decoration: none;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
  background-color: #d7d4e4b7;
  font-family: 'Changa', sans-serif;
  border-radius: 30px;
  color: rgba(16, 71, 0, 0.767);
  font-weight: 800;
  transition: 100ms linear; 
}

.AIbutton a:hover{
  background-color: #ffffff;
  color: rgb(34, 147, 0);
  transition: ease-in;
}

.AIbutton:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 670px) {
	.dark div{
    right: 50px;
  }
  .label{
    margin-top: 0;
    /* padding-top: 0; */
  }
  .info{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 530px) {
	.dark div{
    right: 20px;
    top: 0;
  }
  .label{
    margin-top: 0;
    /* padding-top: 0; */
  }
  .info{
    margin-top: 10px;
  }
}